<div class="background">
  <div class="container">
    <h1 class="text-center header">{{ title }}</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 text-left" *ngFor="let project of projects">
        <div class="project-container">
          <a href="{{ project.link }}" target="_blank">
            <img class="img-fluid img-thumbnail center-block project-image" src="{{ project.source }}" alt="{{ project.name }}">
          </a>
          <span class="link-text">
            <a href="{{ project.link }}" target="_blank">
              <span class="project-text">{{ project.name }}</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
