@import '../../../variables';

.about-container {
  display: block;
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
  float: right;
  overflow: visible;
}

.image {
  background: url(https://res.cloudinary.com/dg25vxfyl/image/upload/q_10/v1515015167/mountain_fxeiu1.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 1848px;
  width: 100%;
  position: relative;
}

.title {
  margin-top: -1500px;
  color: $white;
  font-size: 30px;
  line-height: 31px;
  position: relative;
  width: 100%;
}

.name {
  font-size: 60px;
  line-height: 20px;
  font-family: 'Allan', cursive;
}

.content {
  margin-top: 1050px;
  position: relative;
  width: 100%;
}
