<nav [ngClass]="transparent" class="navbar navbar-expand-lg navbar-light fixed-top" id="main-nav">
  <div class="container-fluid">
    <div class="navbar-brand noselect name-transition">{{name }}</div>
    <button class="navbar-toggler navbar-toggler-right custom-toggle" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
          <a pageScroll
             [pageScrollInterruptible]="false"
             [pageScrollDuration]="800"
             pageScrollOffset={{offset}}
             class="nav-link"
             href="#about"
             [ngClass]="{'active': sections[0].active}">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
          <a pageScroll
             [pageScrollInterruptible]="false"
             [pageScrollDuration]="800"
             pageScrollOffset={{offset}}
             class="nav-link"
             href="#work"
             [ngClass]="{'active': sections[1].active}">Work <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
          <a pageScroll
             [pageScrollInterruptible]="false"
             [pageScrollDuration]="800"
             pageScrollOffset={{offset}}
             class="nav-link"
             href="#projects"
             [ngClass]="{'active': sections[2].active}">Projects <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarResponsive">
          <a pageScroll
             [pageScrollInterruptible]="false"
             [pageScrollDuration]="800"
             pageScrollOffset={{offset}}
             class="nav-link"
             href="#contact"
             [ngClass]="{'active': sections[3].active}">Contact <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
