@import '../../_variables.scss';

div {
  height: -webkit-calc(100% - #{$nav-height});
  height:    -moz-calc(100% - #{$nav-height});
  height:         calc(100% - #{$nav-height});

  width: 100%;
  background-color: #E15554;
}

.container {
  padding-top: 3em;
}
