@import '../../../variables';

$bc: #2D3047;
$nav-text-color: $white;
$nav-hover-color: $red;

//navbar background
.nav-background {
  background-color: $bc;
}

.nav-transparent-background {
  background-color: transparent;
  border-color: transparent;
  padding: 50px 0;
  height: 50px;
}

.easeTransition {
  -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
  transition: background .5s ease-in-out,padding .5s ease-in-out;
}

//navbar items
ul {
  padding: $nav-padding;

  li a {
    //navigation links design
    color: $nav-text-color;
    font-size: 21px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;

    // nav-bar items spacing and alignment
    height: $nav-height - 2 * $nav-padding;
    display: flex;
    align-items: center;

    &.nav-link {
      text-align: center;
    }

    //hover color
    &:hover {
      color: $nav-hover-color;
    }

    //active link color
    &.active-link {
      color: $nav-hover-color;
    }
  }
}
