<div [ngClass]="verticalNavClass" class="fixed-top easeTransition" (scroll)="onScroll($event)">
  <div class="container">
    <ul [ngClass]="horizontalNavClass" class="nav">
      <li class="nav-item">
        <a pageScroll class="nav-link"
           [pageScrollOffset]=offset
           routerLink="/about"
           href="#about"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a pageScroll class="nav-link"
           [pageScrollOffset]=offset
           routerLink="/work"
           href="#work"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">Work <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a pageScroll class="nav-link"
           [pageScrollOffset]=offset
           routerLink="/projects"
           href="#projects"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">Projects <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a pageScroll class="nav-link"
           [pageScrollOffset]=offset
           routerLink="/contact"
           href="#contact"
           routerLinkActive="active-link"
           [routerLinkActiveOptions]="{ exact: true }">Contact <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</div>

<about id="about"></about>
<work id="work"></work>
<projects id="projects"></projects>
<contact id="contact"></contact>

