@import '../../../variables';

$bc: #2D3047;
$nav-text-color: $white;
$nav-hover-color: $red;

//navbar background
.custom-nav {
  background-color: $bc;
  min-height: $nav-height;
}

.navbar-brand {
  color: white;
  font-size: 56px;
  font-family: 'Allan', cursive;
  padding: 0 15px;
  height: $nav-height;
  line-height: $nav-height;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: ($nav-height - 34px) / 2;
  padding: 9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: ($nav-height - 27px) / 2;
    padding-bottom: ($nav-height - 27px) / 2;
    line-height: 27px;
  }
}

//@media (min-width:992px) {
//  #mainNav {
//    padding-top: 25px;
//    padding-bottom: 25px;
//    -webkit-transition: padding-top .3s, padding-bottom .3s;
//    -moz-transition: padding-top .3s, padding-bottom .3s;
//    transition: padding-top .3s, padding-bottom .3s;
//    border: none;
//    background-color: transparent
//  }
//  #mainNav .navbar-brand {
//    -webkit-transition: all .3s;
//    -moz-transition: all .3s;
//    transition: all .3s
//  }
//  #mainNav .navbar-nav .nav-item .nav-link {
//    padding: 1.1em 1em!important
//  }
//  #mainNav.navbar-shrink {
//    padding-top: 0;
//    padding-bottom: 0;
//    background-color: #212529
//  }
//  #mainNav.navbar-shrink .navbar-brand {
//    font-size: 1.25em;
//    padding: 12px 0
//  }
//}

//navbar items
ul {
  li a {
    //navigation links design
    color: $nav-text-color;
    font-size: 21px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;

    padding: 15px;

    // nav-bar items spacing and alignment
    display: flex;
    align-items: center;

    &.nav-link {
      text-align: center;
    }

    //hover color
    &:hover {
      color: $nav-hover-color;
    }

    //active link color
    &.active {
      color: $nav-hover-color;
    }
  }
}
