<div class="background" #project>
  <div class="container">
    <h1 class="text-center header">{{ title }}</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-4 text-left" *ngFor="let project of projects">
        <div class="project-container">
          <a href="{{ project.link }}" target="_blank" rel="noopener">
            <picture>
              <source srcset="{{ project.webp_url }}" type="image/webp">
              <img class="img-fluid img-thumbnail project-image" src="{{ project.source }}" alt="{{ project.name }}">
            </picture>
          </a>
          <div class="link-text">
            <a href="{{ project.link }}" target="_blank" rel="noopener">
              <span class="project-text">{{ project.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


