<div class="container header-container">
  <h1 class="text-center header">{{ title }}</h1>
  <div class="about-text text-justify">
    <p>
      Always be positive, always be willing to take risks, always be willing to fail.
      Growth cannot come from comfort and progress can only be made by challenging the status quo.
    </p>
    <p>
      Cleveland born, aspiring entrepreneur and stock enthusiast. New York bound one step at a time.
      Looking past failure constantly.
    </p>
    <p>
      Tech enthusiast always chasing harder and steeper challenges.
      Searching bit by bit through Stack Overflow.
    </p>
  </div>
</div>



