@import '../../variables';

$bc: #2D3047;
$nav-text-color: #FFF;
$nav-hover-color: $red;

//navbar background
.nav-background {
  background-color: $bc;
  min-height: $nav-height;
}

//navbar items
ul {
  padding: $nav-padding;

  .navbar-brand {
    color:white;
    font-size: 60px;
    font-family: 'Allan', cursive;
    padding-left: 1em;
  }

  li a {
      //navigation links design
      color: $nav-text-color;
      font-size: 21px;
      font-family: 'Space Mono', monospace;
      text-transform: uppercase;

      //hover color
      &:hover {
        color: $nav-hover-color;
      }

      //active link color
      &.active-link {
        color: $nav-hover-color;
      }
    }
  }
