@import '../../variables';

$bc: #2D3047;
$nav-text-color: #FFF;
$hover-color: #F00;

nav {
  background-color: $bc;
  //padding: $nav-padding;
  min-height: $nav-height;

  //make text un-selectable
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;

  .navbar-brand {
    color:white;
    font-size: 60px;
    font-family: 'Allan', cursive;
    padding-left: 1em;
  }

  li a {
    color: $nav-text-color;
    font-size: 21px;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
  }
}

//.navbar-inverse .navbar-nav > .active > a {
//  background-color: $bc;
//}
//
//.active-link {
//  color: $hover-color !important;
//}


