@import '../../../variables';

.container {
  padding-bottom: 3em;
}

@media (min-width: 750px) {
  .container{
    max-width: 925px;
  }
}

.header {
  font-family: 'Bungee', cursive;
  font-size: calc(1.31927vw + 37.7783px);
  font-weight: 500;
  margin-bottom: 30px;
}

.about-text {
  font-size: 26px;
}
