@import '../../../variables';

$content-offset: 80%;

.image-container {
  background-image: url("../../../assets/images/mountain.png");
  width: 100%
}

.title {
  color: $white;
  font-size: 30px;
  line-height: 31px;
  position: absolute;
  top: 22%;
  left: 0;
  width: 100%;
}

.content {
  position: absolute;
  top: $content-offset;
  left: 0;
  width: 100%;
}

.name {
  font-size: 60px;
  line-height: 20px;
  font-family: 'Allan', cursive;
}
