@import '../../../variables';

.image-container {
  max-width: 100%;
  height: 2050px;
  position: relative;
}

.custom-image {
  width: 100%;
}

.title {
  color: $white;
  font-size: 30px;
  line-height: 31px;
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
}

.content {
  position: absolute;
  top: 72%;
  left: 0;
  width: 100%;
}

.name {
  font-size: 60px;
  line-height: 20px;
  font-family: 'Allan', cursive;
}
