@import '../../../variables';

$bc: #E8295C;

div {
  min-height: -webkit-calc(100% - #{$nav-height});
  min-height:    -moz-calc(100% - #{$nav-height});
  min-height:         calc(100% - #{$nav-height});
  width: 100%;
  background-color: $bc;
}

@media (min-width: 1200px) {
  .container{
    max-width: 700px;
  }
}

.container {
  padding-top: 3em;
  padding-bottom: 3em;
}
