<div class="container">
  <ul class="nav justify-content-center fa-5x">
    <li>
      <a href="https://github.com/AndrewVetovitz" target="_blank">
        <div title="Githhub" class="icon-container github-styling">
          <i class="fab fa-github icon-styling"></i>
        </div>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/andrewvetovitz" target="_blank">
        <div title="Linkedin" class="icon-container linkedin-styling">
          <i class="fab fa-linkedin-in icon-styling"></i>
        </div>
      </a>
    </li>
    <li>
      <a href="https://res.cloudinary.com/dg25vxfyl/image/upload/q_100/v1515098329/vetovitz_andrew_resume.pdf" download>
        <div title="Resume" class="icon-container resume-styling">
          <i class="fas fa-file-alt icon-styling"></i>
        </div>
      </a>
    </li>
    <li>
      <a href="mailto:andrewvetovitz@gmail.com?subject=Hello!&body=Dear%20Andrew%2C%0D%0A%0D%0A">
        <div title="Email" class="icon-container mail-styling">
          <i class="fas fa-envelope icon-styling"></i>
        </div>
      </a>
    </li>
  </ul>
</div>
